$GreyPink: #eddce2; 
$GreyPink2: #f996b5;
$Pink: #ea567a;
$Wine: #8e173d;
$Burgundy: #7f2121;
$Burgundy2: rgb(166, 52, 52);
$White: #fff;
$BlackShadow: rgba(0, 0, 0, 0.297);
$BlackShadow2: rgba(0, 0, 0, 0.166);