@use '../../../Sass/Colors.scss' as a;
@use '../../../Sass/Fonts.scss' as b;

.tallerDiv {
    background-color: a.$GreyPink;
    width: 40%;
    border-radius: 50px;
    box-shadow: 0 4px 6px a.$BlackShadow2;
    
    .infoTaller {
        margin: 20px;
        
        img {
            margin-top: 20px;
            width: 80%;
        }
        
        h5, h2, h6 {
            color: a.$Wine;
        }
        
        .infoPrice {
            h6 {
                padding-left: 85%;
            }
        }
        
        .skillsSection {
            margin: 10px 0;
            
            ul {
                list-style-type: disc;
                padding-left: 20px;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                
                li {
                    font-size: 14px;
                    color: #333;
                    min-width: fit-content;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .tallerDiv {
        width: 90%;
        
        .infoTaller {
            .skillsSection {
                ul {
                    gap: 5px;
                    
                    li {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}