.catalogoContent {
  margin-top: 40px;
  margin-bottom: 300px;
}
.catalogoContent .form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.catalogoContent .settingSearch {
  background-color: #eddce2;
  border-radius: 20px;
  width: 15%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-left: 80px;
}
.catalogoContent .settingSearch h3 {
  color: #8e173d;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.catalogoContent .settingSearch label {
  color: #8e173d;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.catalogoContent .settingSearch select {
  background-color: #a91846;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.catalogoContent .settingSearch select:hover {
  background-color: rgb(166, 52, 52);
}
.catalogoContent .settingSearch .starRating {
  display: flex;
  gap: 5px;
}
.catalogoContent .settingSearch .starRating .star {
  font-size: 2rem;
  cursor: pointer;
  color: #ea567a;
}
.catalogoContent .settingSearch .starRating .star:hover, .catalogoContent .settingSearch .starRating .star:hover ~ .star {
  color: #8e173d;
}
.catalogoContent .settingSearch .starRating .active {
  color: #8e173d;
}
.catalogoContent .displaySearchs {
  width: 80%;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalogoContent .displaySearchs .searchBar {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.catalogoContent .displaySearchs .searchBar input {
  width: 80%;
  padding: 10px;
  background-color: #eddce2;
  border-radius: 30px;
  border: none;
  font-size: 1.2rem;
  color: #7f2121;
  padding-left: 20px;
}
.catalogoContent .displaySearchs .searchBar input:focus {
  outline: none;
  border: 2px solid #8e173d;
}
.catalogoContent .displaySearchs .searchBar button {
  background-color: #8e173d;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}
.catalogoContent .displaySearchs .searchBar button:hover {
  background-color: rgb(166, 52, 52);
}
.catalogoContent .displaySearchs .productsDisplay {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.catalogoContent .settingsButton {
  display: block;
  background-color: #8e173d;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  font-size: 1.2rem;
  width: 200px;
  text-align: center;
}
.catalogoContent .settingsButton:hover {
  background-color: rgb(166, 52, 52);
}
@media (min-width: 769px) {
  .catalogoContent .settingsButton {
    display: none;
  }
}
.catalogoContent .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.catalogoContent .modal .modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
}
.catalogoContent .modal .modalContent h3 {
  color: #8e173d;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.catalogoContent .modal .modalContent label, .catalogoContent .modal .modalContent select {
  display: block;
  margin-bottom: 10px;
}
.catalogoContent .modal .modalContent .closeModal {
  background-color: #8e173d;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.catalogoContent .modal .modalContent .closeModal:hover {
  background-color: rgb(166, 52, 52);
}
.catalogoContent .pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.catalogoContent .pagination .pageButton {
  background-color: #8e173d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
}
.catalogoContent .pagination .pageButton:hover {
  background-color: rgb(166, 52, 52);
}
.catalogoContent .pagination .disabled {
  background-color: #eddce2;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .catalogoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .catalogoContent .form {
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .catalogoContent .settingSearch {
    display: none;
  }
  .catalogoContent .settingsButton {
    display: block;
    width: 90%;
    max-width: 300px;
    margin: 15px auto;
  }
  .catalogoContent .displaySearchs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-right: 0px;
  }
  .catalogoContent .displaySearchs .searchBar {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
  }
  .catalogoContent .displaySearchs .productsDisplay {
    width: 100%;
    gap: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .catalogoContent .modal .modalContent {
    width: 90%;
    max-width: 400px;
    padding: 20px;
  }
  .catalogoContent .modal .modalContent label {
    color: #8e173d;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .catalogoContent .modal .modalContent select {
    background-color: #a91846;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
  }
  .catalogoContent .modal .modalContent select:hover {
    background-color: rgb(166, 52, 52);
  }
  .catalogoContent .modal .modalContent .starRating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
    width: 100%;
  }
  .catalogoContent .modal .modalContent .starRating label {
    margin: 0;
    display: flex;
    align-items: center;
  }
  .catalogoContent .modal .modalContent .starRating .star {
    font-size: 2rem;
    cursor: pointer;
    color: #ea567a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
  }
  .catalogoContent .modal .modalContent .starRating .star:hover, .catalogoContent .modal .modalContent .starRating .star:hover ~ .star {
    color: #8e173d;
  }
  .catalogoContent .modal .modalContent .starRating .active {
    color: #8e173d;
  }
  .catalogoContent .modal .modalContent .closeModal {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .catalogoContent .settingsButton {
    width: 90%;
    max-width: 300px;
    margin: 15px auto;
    padding: 8px 15px;
    font-size: 1rem;
  }
  .catalogoContent .form {
    margin: auto;
  }
  .catalogoContent .displaySearchs {
    padding: 0 10px;
    margin-right: 0px;
  }
  .catalogoContent .displaySearchs .searchBar {
    width: 100%;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .catalogoContent .displaySearchs .searchBar input {
    width: 100%;
  }
  .catalogoContent .displaySearchs .searchBar button {
    width: 100%;
  }
  .catalogoContent .displaySearchs .productsDisplay {
    width: 100%;
  }
  .catalogoContent .displaySearchs .productsDisplay .productoDiv {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .pagination .pageButton {
    padding: 8px 15px;
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .pagination .pageButton {
    padding: 6px 10px;
    font-size: 0.9rem;
  }
}
@media (max-width: 1300px) {
  .catalogoContent .settingSearch {
    width: 20%;
    margin-left: 20px;
  }
  .catalogoContent .displaySearchs {
    width: 75%;
    margin-right: 0px;
  }
}/*# sourceMappingURL=Catalogo.css.map */